.feedback {
  width: 80px;
  height: 35px;
  padding: 0 10px;
  font-size: 16px;
  border: 1px solid #d5d5d5;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
  margin: 0.65rem;
}

.frequency-options label {
  margin-right: 15px;
}
.email-input input {
  width: 250px;
}
.logs {
  line-height : 1.5;
}
.upload-page {
  line-height : 1.5;
  margin-left: 50px;
  margin-right: 50px;
}
.pdf-input {
  height: 43px;
}
.submit-button {
  background-color: #5d3891;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #F4C2C2;
}

.submit-button:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.email-form, .pdf-form {
  display: flex;
  gap: 10px;
}
.model-select {
  width: 155px;
}
.v-select {
  width: 114px;
}
.select {
  height: 43px;
  padding: 0 10px;
  font-size: 16px;
  border: 1px solid #d5d5d5;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
}

.select:hover {
  border-color: #888;
}

.select:focus {
  outline: none;
  border-color: #0066cc;
  box-shadow: 0 0 0 2px rgba(0,102,204,0.2);
}  

input {
    margin-bottom: 15px;
    padding: 10px 20px;
    border-radius: 3px;
    outline: none;
    border: 1px solid #ddd;
}
h3 {
    margin: 15px 0;
}

.warning {
    color: red;
    font-weight: bold;
    margin-top: 10px;
    font-size: 20px;
}
ul {
    line-height: 150%;
    padding-left: 5%;
    padding-right: 5%;
}