textarea {
    height: 200px;
    width: 95%;
    line-height:150%;
    font-size: 16px;
}
form {
    padding: 50px;
}
input {
    margin-bottom: 15px;
    padding: 10px 20px;
    border-radius: 3px;
    outline: none;
    border: 1px solid #ddd;
}
h3 {
    margin: 15px 0;
}
button {
    margin-top: 15px;
    padding: 15px;
    cursor: pointer;
    outline: none;
    background-color: #5d3891;
    border: none;
    color: #f5f5f5;
    font-size: 20px;
    font-weight: bold;
    border-radius: 3px;
}
.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
.jd {
    line-height: 150%;
    padding-left: 10%;
    padding-right: 10%;
}

.warning {
    color: red;
    font-weight: bold;
    margin-top: 10px;
    font-size: 20px;
}